<div ng-controller="TasksCtrl" data-ng-init="init()">
	<div class="tasks">
		<div class="task-list-container">
			<div class="task-list">
				<div class="task-list-content">
					<div class="task-list-header">
						<p class="task-list-title">To do</p>
						<p class="task-list-add" ng-click="add()">Add</p>
					</div>
					<div class="task-cards-container">
						<div class="task-card" ng-repeat="task in otherTasks">
							<div class="task-card-titles" ng-click="edit(task)">
								<p>{{task.title}}</p>
								<small>{{task.description}}</small>
							</div>
							<div class="task-card-actions">
								<p ng-click="assingToMe(task, $index)">Assign to me</p>
								<p class="delete" ng-click="delete(otherTasks, task, $index)">Delete</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="task-list-container">
			<div class="task-list">
				<div class="task-list-content">
					<div class="task-list-header">
						<p class="task-list-title">My Tasks</p>
					</div>
					<div class="task-cards-container">
						<div class="task-card" ng-repeat="task in myTasks">
							<div class="task-card-titles" ng-click="edit(task)" ng-class="{'task-list-header-complete': task.completed}">
								<p>{{task.title}}</p>
								<small>{{task.description}}</small>
							</div>
							<div class="task-card-actions">
								<p ng-click="complete(task)" ng-if="!task.completed">Complete</p>
								<p class="delete" ng-click="delete(myTasks, task, $index)">Delete</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ng-include src="'/templates/task-modal.html'"></ng-include>
</div>