body {
	background-color: #0079bf;
}
.header {
	background-color: #0067a3; 
	height: 60px; 
	display: flex; 
	flex-direction: row; 
	justify-content: center; 
	align-items: center;
}
.header p {
	color: #fff;
    font-size: 23px;
    margin: 0px;
}
.tasks {
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}
.task-list-container {
	display: flex;
	max-width: 300px;
	margin-right: 20px;
}
.task-list {
	max-height: 100%;
}
.task-list-content {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	background-color: #e2e4e6;
	width: 300px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	border-radius: 5px;
	cursor: pointer;
	min-height: 150px;
}
.task-list-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.task-list-header-complete {
	text-decoration: line-through;
}
.task-list-add {
	padding: 4px;
	border-radius: 3px;
}
.task-list-add:hover {
	background-color: #cdd2d4;
}
.task-cards-container {
	display: flex;
	flex-direction: column;
}
.task-list-title {
	color: #4f4f4f;
	font-weight: bold;
	font-size: 16px;
}
.task-card {
    background-color: #ffffff;
    flex: 100%;
    min-height: 50px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.task-card:hover {
	background-color: #edeff0;
}

.task-card-titles {
	display: flex;
	flex-direction: column;
}
.task-card-actions {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
}
.task-card-actions p {
	color: #1f9fda;
	text-decoration: underline;
	font-size: 12px;
	margin-right: 10px;
}
.no-action {
	text-decoration: none !important;
}
.delete {
	color: red !important;
}
.task-modal {
	background-color: #edeff0;
}